.tile{
    width: 200px;
    height: 200px;
    margin: 0 auto 0 auto;
    text-align: center;
    line-height: 150px;
    font-size: 80px;
}
p{
    margin: 0;
    font-family: "Comic Sans MS", cursive, sans-serif
}
